<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-sm-6 logo-container">
<img  src="../assets/RSI-Logo.svg" alt="RSI Logo" />
</div>

<div class="col-md-4 offset-md-5 button-container">
  <div class="home col-md-4 offset-md-2 col-sm-6 center-align">
    <button class="dropbtn">
      <nav><a routerLink="/home">Home</a></nav></button>
  </div>
  <app-dropdown></app-dropdown>
</div>
</div>
</div>
<router-outlet></router-outlet>

<img class="waves" src="../assets/swoosh-topbar.png" alt="RSI Red Waves" />
