<body>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Sign Up</h2>
        <!-- <form #f="ngForm"> -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(email.value, password.value, confirmPassword.value)">
          <div class="form-group">
            <label>Email</label>
            <input type="text" #email formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div class="text-danger" *ngIf="f.email.errors?.required && (email.dirty || email.touched)">Email is required</div>
            <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" #password formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div class="text-danger" *ngIf="f.password.errors?.required && (password.dirty || password.touched)">Password is required</div>
            <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
          </div>
          <div class="form-group">
            <label>Confirm password</label>
            <input type="password" #confirmPassword formControlName="confirmPassword" class="form-control">
            <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <div *ngIf="confirmPassword.errors['required']">Please confirm your password</div>
              <div *ngIf="confirmPassword.errors['compare']">Passwords do not match</div>
            </div>
          </div>
          <button class="btn btn-primary">Sign Up</button>
        </form>
        <!-- </form> -->
      </div>
    </div>
  </body>
